NODE_ENV=production
PORT=3000

# Database (Azure SQL)
DB_USER=tu_usuario
DB_PASSWORD=tu_password_segura
DB_SERVER=tu_servidor.database.windows.net
DB_NAME=ferreteria_db

# Admin (FASE 1)
ADMIN_USER=admin
ADMIN_PASS_HASH=$2a$10$bqrTKR9SvU.avboEhp6tdex8xCcA.0XnIJ/7A87ak8m12il7KPK7a  # newpass123
JWT_SECRET=MiClaveSuperSecretaParaJWT_32charsMinCambiala

# Cloudinary (mover de app.js)
CLOUDINARY_CLOUD_NAME=donc8a6tc
CLOUDINARY_API_KEY=781626543592578
CLOUDINARY_API_SECRET=jxp0bDLONGpIyMxm5TPtl1tkVhU

# OneSignal
ONESIGNAL_APP_ID=tu_app_id
ONESIGNAL_REST_API_KEY=tu_rest_api_key

# Rate Limit
RATE_LIMIT_WINDOW=15  # minutos
